<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Práctica 16
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
    <div formGroupName="grupoDatosUsuario">

      <ion-item>
        <ion-label position="floating" color="primary">Nombre</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <!-- mensajes de error: Nombre -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="formulario.get('grupoDatosUsuario').get('name').hasError(validation.type)
  && (formulario.get('grupoDatosUsuario').get('name').dirty
  || formulario.get('grupoDatosUsuario').get('name').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Apellido</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <!-- mensajes de error: Apellido -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.lastname">
          <div class="error-message" *ngIf="formulario.get('grupoDatosUsuario').get('lastname').hasError(validation.type)
&& (formulario.get('grupoDatosUsuario').get('lastname').dirty
|| formulario.get('grupoDatosUsuario').get('lastname').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>


      <ion-item>
        <ion-label position="stacked" color="primary">Fecha de Nacimiento</ion-label>
        <ion-input type="date" formControlName="birthday"></ion-input>
      </ion-item>
      <!-- mensajes de error: Fecha de nacimiento -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.birthday">
          <div class="error-message" 
          *ngIf="formulario.get('grupoDatosUsuario').get('birthday').hasError(validation.type) 
                  && (formulario.get('grupoDatosUsuario').get('birthday').dirty || formulario.get('grupoDatosUsuario').get('birthday').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">DNI</ion-label>
        <ion-input type="text" formControlName="dni"></ion-input>
      </ion-item>
      <!-- mensajes de error: DNI -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.dni">
          <div class="error-message" *ngIf="formulario.get('grupoDatosUsuario').get('dni').hasError(validation.type)
&& (formulario.get('grupoDatosUsuario').get('dni').dirty
|| formulario.get('grupoDatosUsuario').get('dni').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>

    <!--Validación de errores para grupoDatosUsuario-->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.grupoDatosUsuario">
        <div class="error-message" *ngIf="formulario.get('grupoDatosUsuario').hasError(validation.type) 
        && (formulario.get('grupoDatosUsuario').get('birthday').dirty 
        || formulario.get('grupoDatosUsuario').get('birthday').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!formulario.valid">
      Enviar</ion-button>
  </form>
</ion-content>